@page "/"
@using VotingTool.Features.Voting
@implements IDisposable
@inject VotingService VotingService
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage

<h1>SWO Business Applications - Online Voting Tool</h1>

<div class="container mt-5">
    <div class="row">
        <div class="col">
            <EditForm Model="@typeof(string)" OnValidSubmit="UpdateQuestion">
                <div class="input-group mb-3">
                    <InputTextArea id="question" class="form-control" @bind-Value="_question" rows="4" placeholder="Put your question here..." />
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit">Update + Reset</button>
                    </div>
                </div>
            </EditForm>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col">
            <button type="button" class="btn btn-outline-primary btn-lg btn-block py-5 @(_voted ? "disabled" : "")"
                    @onclick="@VoteUp">
                <span class="oi oi-thumb-up display-4"></span>
            </button>
        </div>
        <div class="col">
            <button type="button" class="btn btn-outline-secondary btn-lg btn-block py-5 @(_voted ? "disabled" : "")"
                    @onclick="@VoteDown">
                <span class="oi oi-thumb-down display-4"></span>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col display-4 text-center">@_up</div>
        <div class="col display-4 text-center">@_down</div>
    </div>
</div>
